@{
    ViewBag.Title = "Home Page";
}

<div id="slider" class="nivoSlider">
    <a href="softwaredevelopment.html">
        <img src="assets/en/2.jpg" alt="Software Development" /></a>
    @*<a href="mobiledevelopment.html">
        <img src="assets/en/1.jpg" alt="Mobile Development" /></a>*@
    <a href="webdevelopment.html">
        <img src="assets/en/3.jpg" alt="Web Development" /></a>
    @*<a href="cloudcomputing.html">
        <img src="assets/en/4.jpg" alt="Cloud Computing" /></a>
    <a href="tv-application-development.html">
        <img src="assets/en/6.jpg" alt="TV App Development" /></a>
    <a href="gamedevelopment.html">
        <img src="assets/en/5.jpg" alt="Game Development" /></a>*@

</div>
<div id="preload"></div>

<script type="text/javascript">
                var arrTitle = ["Software Development","Web Development"];
                var arrLink = ["softwaredevelopment","webdevelopment"];
                $(window).load(function() {
                    $('#slider').nivoSlider({
                        effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
                        slices: 15, // For slice animations
                        boxCols: 8, // For box animations
                        boxRows: 4, // For box animations
                        animSpeed: 500, // Slide transition speed
                        pauseTime: 9000, // How long each slide will show
                        startSlide: 0, // Set starting Slide (0 index)
                        directionNav: false, // Next & Prev navigation
                        directionNavHide: true, // Only show on hover
                        controlNav: true, // 1,2,3... navigation
                        controlNavThumbs: false, // Use thumbnails for Control Nav
                        controlNavThumbsFromRel: false, // Use image rel for thumbs
                        controlNavThumbsSearch: '.jpg', // Replace this with...
                        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
                        keyboardNav: false, // Use left & right arrows
                        pauseOnHover: true, // Stop animation while hovering
                        manualAdvance: false, // Force manual transitions
                        captionOpacity: 0.8, // Universal caption opacity
                        prevText: 'Prev', // Prev directionNav text
                        nextText: 'Next', // Next directionNav text
                        randomStart: false, // Start on a random slide
                        beforeChange: function(){}, // Triggers before a slide transition
                        afterChange: function(){}, // Triggers after a slide transition
                        slideshowEnd: function(){}, // Triggers after all slides have been shown
                        lastSlide: function(){}, // Triggers when last slide is shown
                        afterLoad: function(){ // Triggers when slider has loaded
                            $('#preload').hide();	            
                        } 
                    });
                });
            </script>
<div class="news">
    <strong>News:</strong>
    <span><a href="#">Innovative Services best of the best forever.</a></span>
    <span><a href="#">Innovative Services will spend all of your money carefully.</a></span>
    <span><a href="#">Innovative Services is a really good choice!</a></span>
    <span><a href="#">Innovative Services is waiting a small project with huge budget.</a></span>
</div>
<div class="content">
    <div class="box">
        <div class="boxText">
            <div class="boxTitle"><a href="services.html">Services</a></div>
            @Html.ActionLink("Software Outsourcing", "Outsourcing", "Services")<br />
            @Html.ActionLink("Software Development", "Development", "Services")<br />
            @Html.ActionLink("Software Testing", "Testing", "Services")<br />
            @Html.ActionLink("Support Helpdesk", "Support", "Services")
        </div>
        <div class="boxImage">
            <img src="assets/images/img_01.jpg" alt="" />
        </div>
    </div>
    <div class="box">
        <div class="boxText">
            <div class="boxTitle"><a href="greenit.html">[TBC]</a></div>
            <b>[TBC]</b><br />
        </div>
        <div class="boxImage">
            <img src="assets/images/img_02.jpg" alt="" />
        </div>
    </div>
    <div class="box">
        <div class="boxText">
            <div class="boxTitle"><a href="casestudies.html">Experience</a></div>
            <b>[TBC]</b><br />
            Software development company with 15 years of experience in <a href="#" class="floatNone">software outsourcing</a> and <a href="#" class="floatNone">software testing</a>
        </div>
        <div class="boxImage">
            <img src="assets/images/img_03.jpg" alt="" />
        </div>
    </div>
    <div id="lbox" class="box">
        <div class="boxText">
            <div class="boxTitle"><a href="overview.html">Innovative Services</a></div>
            Custom software development company from Eastern Europe providing software solutions and consulting
        </div>
        <div class="boxImage" id="boxImageLast">
            <img src="assets/images/img_05.gif" alt="" />
        </div>
    </div>
    <div class="clear"></div>
    <div class="boxBtHeader modelOfEx">Model of Excellence</div>
    <div class="boxBtHeader" id="pricing">Research &amp; Trends</div>
    <div class="boxBtHeader" id="partners">Clients and Partners</div>
    <div class="boxBtHeader" id="contactUs">Contact Us</div>
    <div class="boxBt modelOfEx">
        <b>[TBC]</b><br />
        With a deep commitment to delivering superior software development services and solutions, Innovative Services is a trusted partner to a number of global companies across various business domains.
                    <p>
                        To best meet the needs of our clients, we leverage best practices, technologies and methodologies.<br />
                        <a class="readMore" name="readmore" href="#">read more</a>
                    </p>
    </div>
    <div class="boxBt" id="pricingBt">
        <b>[TBC]</b><br />
        @*<ul class="latestnews">
                        <li>
                            <a href="mobile-apps-help-count-calories-on-the-go.html">Mobile Apps Help Count Calories on the Go</a>
                            <div class="intro-text">Custom mobile applications for smartphones can be specifically designed ...</div>
                        </li>
                        <li>
                            <a href="insurance-companies-can-not-live-without-well-adapted.html">Insurance Companies Can’t Live without Well-Adapted Custom CRM</a>
                            <div class="intro-text">The essence of any insurance company implies guaranteed coverage of diff...</div>
                        </li>
                    </ul>*@
    </div>
    <div class="boxBt">
        <b>[TBC]</b><br />
        @*<img src="assets/images/partner.jpg" alt="" usemap="#Map" />*@
    </div>
    <div class="boxBt" id="boxBtContacts">
        <div class="contacts">
            <div class="lblLeft">Phones:</div>
            <div class="lblRight">+375-29-631-0711</div>
        </div>
        <div class="contacts">
            <div class="lblLeft">
                Skype:<br />
                Email:
            </div>
            <div class="lblRight">
                <a href="skype:egrinkevich">innovative.by</a><br />
                <a href="mailto:info@innovative.by">info@innovative.by</a>
            </div>
        </div>
        @Html.ActionLink("send a request", "Contact", "Company", new object(), new { @class = "readMore" })
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">function changeNews(n) { if (n > 4) n = 0; $(".news span").eq(n).fadeIn(800).delay(8000).fadeOut(800, function () { changeNews(n + 1) }); } changeNews(0);</script>

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@
@*<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
