@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>*@

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="assets/themes/css/nivo-slider.css" />
    <script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="assets/2d9b21fc/jquery.yii.js"></script>
    <title>Software Development Company. Custom Software Development Services. Software Outsourcing - Innovative Services</title>
    <meta name="description" content="Innovative Services - software development company from Eastern Europe with expertise in software development services, custom software development and agile software development stands among the best software outsourcing and software development companies" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="software development, software company, software development company, software development companies, software development services, custom software development services, custom software development" />
    
    @Styles.Render("~/assets/themes/css/style.css")
    @Styles.Render("~/assets/themes/css/mainpage-fix.css")
    @*<link rel="stylesheet" href="assets/themes/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/themes/css/mainpage-fix.css" />
    <link rel="stylesheet" type="text/css" href="assets/themes/css/print.css" media="print" />*@

    <script type="text/javascript" src="assets/themes/js/flashdectector.js"></script>

</head>
<body>

    <!--Begin wrapper -->
    <div class="wrapper">
        <div class="header">
            <!-- menu -->
            <div id="menuShell">
                <a href="@System.Configuration.ConfigurationManager.AppSettings["WebsiteUrl"]" title="Software Development Services" class="menuElinextLogo"></a>
                @*@Html.ActionLink("Home", "Index", "Home")*@
                <ul id="hmenu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Services", "Outsourcing", "Services", new object(), new { @class = "has-sub" })
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Software Outsourcing", "Outsourcing", "Services")</li>
                            <li>@Html.ActionLink("Software Development", "Development", "Services")</li>
                            <li>@Html.ActionLink("Software Testing and QA Automation", "Testing", "Services")</li>
                            <li>@Html.ActionLink("Support Helpdesk", "Support", "Services")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Industries", "Overview", "Industries", new object(), new { @class = "has-sub" })
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Financial Services", "FinancialServices", "Industries")</li>
                            <li>@Html.ActionLink("Healthcare", "Healthcare", "Industries")</li>
                            <li>@Html.ActionLink("Insurance", "Insurance", "Industries")</li>
                            <li>@Html.ActionLink("Real Estate", "RealEstate", "Industries")</li>
                            <li>@Html.ActionLink("Retail", "Retail", "Industries")</li>
                            <li>@Html.ActionLink("Education", "Education", "Industries")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Case Studies", "CaseStudies", "Resources")</li>
                    <li>@Html.ActionLink("About Us", "Overview", "Company", new object(), new { @class = "has-sub" })
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Company Overview", "Overview", "Company")</li>
                            <li>@Html.ActionLink("Our Approach", "Approach", "Company")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contacts", "Contact", "Company")</li>
                </ul>
                <img src="/assets/images/menuWhite.jpg" alt="" class="floatLeft" />
                <div class="menuSearch">
                    <form id="cse-search-box" action="#" method="post">
                        <input id="srchInput" onclick="this.style.background = &#039;none&#039;;" name="SearchForm[search_term]" type="text" />

                        <img alt="" onclick="document.getElementById('cse-search-box').submit()" src="/assets/themes/images/searchBtn.jpg" />
                    </form>
                </div>
            </div>
            <!-- menu -->
            <div class="clear"></div>
            <div class="task">
                <div class="secondMenu">
                    <!-- breadcrumbs -->
                </div>
                <div class="sexySelect">
                    <form action="#" method="post">
                        <div id="languagedrop">
                            <select id="languageSelector" class="sexySelect" name="_lang">
                                <option value="en" selected="selected">English</option>
                            </select>
                        </div>
                    </form>

                </div>
                @*<a href="sitemap.html" class="floatRight smMainLink">Site map
                    <img src="/assets/images/iconMap.jpg" alt="Sitemap" /></a>*@
                <div class="followEliContainer">
                    <a class="followElinextImg" href="javascript:void(0)" onmouseover="ShowPopUp('followEli', true)" onmouseout="ShowPopUp('followEli', false)">
                        <img alt="facebook" src="/assets/images/iconFacebook.jpg" />
                    </a>
                    <div id="followEli" onmouseover="ShowPopUp('followEli', true)" onmouseout="ShowPopUp('followEli', false)">
                        <a target="_blank" href="#">
                            <img alt="" src="/assets/images/iconFacebook.jpg" />Facebook</a><br />
                        <a target="_blank" href="#">
                            <img alt="" src="/assets/images/twitterPopUp.jpg" />Twitter</a><br />
                        <a target="_blank" id="followEliLastItem" href="#">
                            <img alt="" src="/assets/images/linkedinPopUp.jpg" />LinkedIn</a><br />
                    </div>
                </div>
                <div class="followElinext">Follow Innovative Services</div>
                <div class="rss"><a href="#">
                    <img alt="rss" src="/assets/images/rss.png" /></a></div>
            </div>
        </div>
        
        <!-- Begin content -->
        
        <div id="content">
            @RenderBody()
        </div>
        
        <!-- End content -->
        
        <div class="push"></div>
    </div>
    <!--End wrapper -->
    <div class="footer" id="ftr">
        <div class="footerBottom">
            <div id="copyright">Copyright &copy; 2012 Innovative Services. All rights reserved</div>
            <ul>
                <li><a href="#">Mobile</a></li>
                <!--<li>|</li>
                    <li><a href="#">De</a></li>-->
            </ul>
            <ul>
                <li class="footerLiMrgn"><a href="#">Innovative Services Info</a></li>
                <li>|</li>
                <li><a href="#">Custom Software Development</a></li>
                <!--<li>|</li>
                    <li><a href="#">Terms of Use</a></li>-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="assets/themes/js/elinext.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <script type="text/javascript" src="assets/themes/js/menu.js"></script>
    <script type="text/javascript" src="assets/themes/js/jquery.nivo.slider.js"></script>
    
</body>

</html>