@model ISS.CWS.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="leftBar">
    <h2>&nbsp;</h2>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    @*<form id="contact-form" action="http://www.innovative.by/contact" method="post">*@

        <div class="contactsPage">
            <img src="/assets/images/gotaproject.jpg" alt="" /><br />
            <br />
            @Html.ValidationSummary()
            <br />
            <div>
                <span>@Html.LabelFor(_ => _.Name):</span>
                @Html.TextBoxFor(_ => _.Name)
            </div>

            <div>
                <span>@Html.LabelFor(_ => _.Company):</span>
                @Html.TextBoxFor(_ => _.Company)
            </div>
            <div id="message-box"></div>
            <div>
                <span>@Html.LabelFor(_ => _.Email):<span style="color:red;min-width:5px !important;">*</span></span>
                @Html.TextBoxFor(_ => _.Email)
            </div>

            <div>
                <span>@Html.LabelFor(_ => _.Phone):</span>
                @Html.TextBoxFor(_ => _.Phone)
            </div>

            <div>
                <span>@Html.LabelFor(_ => _.SubjectID):</span>
                @Html.DropDownListFor(_ => _.SubjectID, (SelectList)ViewBag.Subjects)
            </div>

            <div>
                <span>@Html.LabelFor(_ => _.BudgetID):</span>
                @Html.DropDownListFor(_ => _.BudgetID, (SelectList)ViewBag.Budgets)
            </div>

            <div>
                <span>@Html.LabelFor(_ => _.Message):<span style="color:red;min-width:5px !important;">*</span></span>
                @Html.TextAreaFor(_ => _.Message)
            </div>

            <div class="button-bars">
                <input name="brws" id="brws" class="sendFirst" type="button" value="Attach" />
                <img id="load" style="visibility: hidden;" src="/assets/images/load.gif" alt="" />
                <input type="submit" value="Send" />
                @*<input id="sendForm" name="yt0" type="button" value="Send" />*@
            </div>
            <input type="hidden" value="" name="attachment" id="attachment" />
        </div>
        <br />
        <div class="contactBottom">
            <div class="floatLeft">
                <div>Send Email</div>
                <a href="mailto:info@innovative.by">info@innovative.by</a>
            </div>
            <div class="floatRight">
                <div style="background-position: 0 -50px">Skype</div>
                <a href="innovative.by">innovative.by</a>
            </div>
            <div class="centerBlock">
                <div style="background-position: 0 -25px">Call Center</div>
                <span class="phoneNum">+375 (2<span style="display: none;">_</span>9) 631 0711</span>
            </div>
            <div class="clear"></div>
        </div>
    }
</div>
<div class="rightBar">
    <div class="rightBarBox">
        <h3>Innovative Services</h3>
        <ul class="contactWidget">
            <li>
                <img alt="" src="/assets/images/flag-bel.jpg" class="floatLeft" />
                <div>
                    <span class="cwHeader">Belarus delivery center</span><br />
                    20-30 Kiseleva st.,<br />
                    Minsk, 220000, Belarus.<br />
                    <span class="cwHeader">Phone:</span> <span class="phoneNum">+375 (2<span style="display: none">_</span>9) 631 0711</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>